
  <head>
    <script src="templatesScripts/login.js"></script>
  </head>
  <body ng-controller="LoginCtrl">
    <ionic-pane>
       <ion-content>
         <div class="bar bar-header bar-calm">
           <h1 class="title">Radius Chat</h1>
        </div>
        <div ng-show="showLogin">
          <div class="bar bar-subheader bar-dark">
            <h1 class="title">login</h1>
         </div>
         <div class="content has-subheader">
            <form name = "login-form">
              Email: <br>
              <label class = "item item-input">
                <input type = "text" name = "email" ng-model = "email"><br>
              </label>
              Password:
              <label class="item item-input">
                <input type = "password" name = "password" ng-model = "password">
              </label>
              <input type = "button" class="button button-block button-positive" value = "sign in" ng-click="login(email,password)">
              <input type = "button" class="button button-block button-positive" value = "sign up" ng-click="switchForm()">
            </form>
          </div>
        </div>

        <div ng-show = "showSignUp">
          <div class="bar bar-subheader bar-dark">
            <h1 class="title">sign up</h1>
          </div>
          <div class = "content has-subheader">
            <form name = "signUp-form">
              First Name: <br>
              <label class="item item-input">
                <input type = "text" name = "firstName" ng-model = "firstName"><br>
              </label>
              Last Name: <br>
              <label class="item item-input">
                <input type = "text" name = "lastName" ng-model = "lastName"><br>
              </label>
              Email: <br>
              <label class="item item-input">
                <input type = "text" name = "email" ng-model="email">
              </label>
              Password: <br>
              <label class="item item-input">
                <input type = "password" name = "password" ng-model = "password">
              </label>
              <input type = "button"  class="button button-block button-positive" value = "sign in" ng-click="switchForm()">
              <input type = "button"  class="button button-block button-positive" value = "sign up" ng-click="signUp(firstName,lastName,email,password)">
            </form>
          </div>
        </div>
      </ion-content>
    </ionic-pane>
  </body>
